<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar Datos</title>
    <style>
        body {
            text-align: center; /* centra todo horizontalmente */
            margin-top: 50px;   /* separación arriba */
            font-family: Arial, sans-serif;
        }
        input, button {
            margin: 5px;
            padding: 8px;
        }
    </style>
</head>
<body>

<h2>Modificar Datos Personales</h2>

<form th:action="@{/cliente/menu/modificar}" method="post">

    <label>DNI:</label>
    <input type="text" name="dni" required><br>
    <label>Correo electrónico:</label>
    <input type="email" name="correo" required><br>

    <label>Nueva contraseña:</label>
    <input type="password" name="pass" required><br>

    <label>Nombre:</label>
    <input type="text" name="nombre" required><br>

    <label>Apellidos:</label>
    <input type="text" name="apellidos" required><br>

    <label>Teléfono:</label>
    <input type="tel" name="telefono" required><br>
    <p>
        <input type="checkbox" name="consentimiento" required>
        He leído y acepto que mis datos serán actualizados y utilizados únicamente para la gestión de cuentas,
        compra de entradas, encuestas y promociones.Puedo ejercer mis derechos de acceso, rectificación,
        cancelación y oposición.
    </p>

    <button type="submit">Guardar cambios</button>
</form>

<a th:href="@{/cliente/menu}">Volver al menú</a>

</body>
</html>

